<div >
<ngx-together-button  className="btn btn-primary">Primary</ngx-together-button>
<ngx-together-button  className="btn btn-secondary">Secondary</ngx-together-button>
<ngx-together-button  className="btn btn-success">Success</ngx-together-button>
<ngx-together-button  className="btn btn-danger">Danger</ngx-together-button>
<ngx-together-button  className="btn btn-warning">Warning</ngx-together-button>
<ngx-together-button  className="btn btn-info">Info</ngx-together-button>
<ngx-together-button  className="btn btn-light">Light</ngx-together-button>
<ngx-together-button  className="btn btn-dark">Dark</ngx-together-button>
<ngx-together-button  className="btn btn-link">Link</ngx-together-button>
</div>