.outlet-container {
    position: relative;
    float: right;
    width: calc(100% - 260px);
    height: calc(100% - 80px);
    top: 80px;
}
.outlet-container-without-sidebar {
    position: relative;
    float: right;
    width: calc(100%);
    height: calc(100% - 80px);
    top: 80px;
}
.outlet-bg{
    background: #DBF5F0;
}